.table_information {
    border-collapse: collapse;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.table_information caption {
    caption-side: bottom;
    padding: 10px;
    font-family: Helvetica, Sans-Serif;
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: .15em;
    margin-bottom: .15em;
    margin-right: .075em;
    font-size: 1vw;
    font-weight: 100;
    line-height: 1;
    position: relative;
}

.table_information_td {
    border-right: 1px dashed rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.table_information_td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.table_information_th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

.table_information_th_main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}