@font-face {
  font-family: 'PP Neue Corp Wide';
  src: url('https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717e399d30a606fed425914_PPNeueCorp-WideUltrabold.woff2') format('woff2');
  font-weight: 10;
  font-style: normal;
  font-display: swap;
}

.p_about {
    font-family: Helvetica, Sans-Serif;
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: .7em;
    margin-bottom: .1em;
    margin-right: .075em;
    font-size: 1.2vw;
    font-weight: 200;
    line-height: 1;
    position: relative;
}

.p_about_2 {
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: 1.2em;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 1.7vw;
    font-weight: 100;
    line-height: 1;
    position: relative;
}

.li_about {
    pointer-events: auto;
    text-align: left;
    text-transform: none;
    margin-top: .15em;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: Helvetica, Sans-Serif;
    font-size: 1.1vw;
    font-weight: 100;
    line-height: 1;
    position: relative;
}